<!DOCTYPE html>
<!-- etiueta html 5-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- titulo del documento-->
  <title>Document</title>
  <!-- CSS only -->
  <!-- Link de la plantilla de bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Link del archivo css-->
  <link rel="stylesheet" href="/static/css/style.css">
  <!-- Link al archivo script-->
<script src="/static/js/script.js"></script>
</head>

<!-- Etiqueta body donde se hace llamado a la funcion starGame()-->
<body onload="startGame()">
    <!-- Titulo del juego centrado-->
    <center>
        <h1>SALTA LOS BLOQUES</h1>
    </center>
<!-- Etiqueta que permite agtregar audio con las diferntes opciones-->
<audio src="/static/imagenes/juego-de-tronos-2.mp3" autoplay="" controls="" loop =""></audio>
<!-- Etiqueta footer de la pagina web-->

<footer>
    <!-- Link de bootstrap
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->


 </footer>
</body>
</html>