/* Se agrega color de borde y de fondo a nuestro lienzo */
canvas {
    /* Se agrega color de borde  */
    border:2px solid rgb(219, 34, 170);
    /* Se agrega color de fondo  */
    background-color: #60e8ec;
    margin-left:550px; /* margen derecho  */
    margin-top: 210px;  /* margen superior  */
}
/* Se agrega una imagen de fondo a la pagina web */
body{
   background-image:url("/static/imagenes/fond.png") ;
   background-color: aquamarine;
}
h1{ 
/* Se agrega estilos para el titulo y un color negro */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: rgb(14, 9, 11);   
}